{{ define "edit_password"}}
<div class="box border-0 shadow-none mb-0">
      <div class="box-header">
            <h5 class="box-title leading-none flex"><i class="ri ri-lock-line ltr:mr-2 rtl:ml-2"></i>
                  Password Settings</h5>
      </div>
      <div class="box-body p-0">
            <div class="grid grid-cols-12">
                  <div
                        class="col-span-12 xl:col-span-12 xl:ltr:border-r xl:rtl:border-l xl:border-b-0 border-b p-6 border-gray-200 dark:border-white/10">
                        <div class="space-y-4">
                              <div class="space-y-2"> <label class="ti-form-label mb-0">Current
                                          Password<sup class="text-danger">*</sup></label>
                                    <input type="password" class="my-auto ti-form-input" autocomplete="off"
                                          placeholder="Current Password" name="CurrentPassword" required>
                              </div>
                              <div class="space-y-2"> <label class="ti-form-label mb-0">New
                                          Password<sup class="text-danger">*</sup></label>
                                    <input type="password" class="my-auto ti-form-input" autocomplete="off"
                                          placeholder="New Password" name="NewPassword" required>
                              </div>
                              <div class="space-y-2"> <label class="ti-form-label mb-0">Confirm
                                          Password<sup class="text-danger">*</sup></label>
                                    <input type="password" class="my-auto ti-form-input" autocomplete="off"
                                          placeholder="Confirm Password" name="ConfirmPassword" required>
                              </div>
                              <p class="text-xs text-gray-500 dark:text-white/70">
                                    Password should be min of <b class="text-success">10
                                          characters <sup>*</sup>
                                    </b> (and up to 100
                                    characters),<b class="text-success">One
                                          Upper Case
                                          Character<sup>*</sup></b>
                                    and <b class="text-success">One
                                          Special
                                          Character<sup>*</sup></b>
                                    e.g., ! @ # ? included.</p>
                        </div>
                  </div>
            </div>
      </div>
</div>
{{template "button"}}
{{ end }}