{{define "backoffice_header"}}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" class="light" data-header-styles="light" data-menu-styles="dark">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Synto - Tailwind Admin Template</title>
      <meta name="description"
            content="A Tailwind CSS admin template is a pre-designed web page for an admin dashboard. Optimizing it for SEO includes using meta descriptions and ensuring it's responsive and fast-loading.">
      <meta name="keywords"
            content="analytics dashboard,jobs dashboard,crm dashboard examples,personal dashboard,sales dashboard sample,best crm dashboard,crypto dashboard template,sales analytics dashboard,stocks dashboard,hrm dashboard,ecommerce admin panel template,sales admin dashboard,admin panel for ecommerce website,website template ecommerce,template dashboard,course dashboard,template ecommerce website">
      <link rel="shortcut icon" href="{{ assetHash "assets/image/brand-logos/favicon.ico" }}">
      <link rel="stylesheet" href="{{ assetHash "assets/css/app.min.css" }}">
      <link rel="stylesheet" href="{{ assetHash "assets/css/simplebar.min.css" }}">
      <link rel="stylesheet" href="{{ assetHash "assets/css/nano.min.css" }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="">
      <div class="page">
{{end}}
