{{define "backoffice_top_nav"}}
<aside class="app-sidebar" id="sidebar">
      <div class="main-sidebar-header"> <a href="/" class="header-logo"> <img
                        src="{{ assetHash "assets/image/brand-logos/desktop-logo.png" }}" alt="logo"
                        class="main-logo desktop-logo"> <img
                        src="{{ assetHash "assets/image/brand-logos/toggle-logo.png" }}" alt="logo"
                        class="main-logo toggle-logo"> <img
                        src="{{ assetHash "assets/image/brand-logos/desktop-dark.png" }}" alt="logo"
                        class="main-logo desktop-dark"> <img
                        src="{{ assetHash "assets/image/brand-logos/toggle-dark.png" }}" alt="logo"
                        class="main-logo toggle-dark"> </a> </div>
      <div class="main-sidebar " id="sidebar-scroll">
            <nav class="main-menu-container nav nav-pills flex-column sub-open">
                  <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191"
                              width="24" height="24" viewBox="0 0 24 24">
                              <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z">
                              </path>
                        </svg></div>
                  <ul class="main-menu">
                        <li class="slide__category"><span class="category-name">Main</span></li>
                        <li class="slide  has-sub">
                              <a href="/dashboard" class="side-menu__item">
                                    <i class="fas fa-light fa-house"></i> <span
                                          class="side-menu__label">Dashboards</span>
                              </a>
                        </li>
                        <li class="slide  has-sub">
                              <a href="/category/list" class="side-menu__item">
                                    <i class="fas fa-light fa-list"></i>
                                    <span class="side-menu__label">Categories</span>
                              </a>
                        </li>
                        <li class="slide  has-sub">
                              <a href="/brand/list" class="side-menu__item">
                                    <i class="fas fa-light fa-list"></i>
                                    <span class="side-menu__label">Brands</span>
                              </a>
                        </li>
                        <li class="slide__category"><span class="category-name">Settings</span></li>
                        <li class="slide  has-sub"> <a href="/user/list" class="side-menu__item">
                                    <i class="fas fa-light fa-users"></i> <span class="side-menu__label">Users</span>
                              </a>
                        </li>
            </nav>
      </div>
</aside>
<header class="header custom-sticky !top-0 !w-full">
      <nav class="main-header" aria-label="Global">
            <div class="header-content">
                  <div class="header-left">
                        <div class=""> <button type="button" class="sidebar-toggle"> <span class="sr-only">Toggle
                                          Navigation</span> <svg xmlns="http://www.w3.org/2000/svg"
                                          class="w-6 h-6 fill-headerprime" enable-background="new 0 0 24 24"
                                          height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                          <g>
                                                <rect fill="none" height="24" width="24"></rect>
                                          </g>
                                          <g>
                                                <g>
                                                      <path d="M4,12c0-4.41,3.59-8,8-8s8,3.59,8,8s-3.59,8-8,8S4,16.41,4,12 M12,11l-4,0v2l4,0v3l4-4l-4-4V11z"
                                                            opacity=".3"></path>
                                                      <path
                                                            d="M4,12c0-4.41,3.59-8,8-8s8,3.59,8,8s-3.59,8-8,8S4,16.41,4,12 M2,12c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10 c0-5.52-4.48-10-10-10C6.48,2,2,6.48,2,12L2,12z M12,11l-4,0v2l4,0v3l4-4l-4-4V11z">
                                                      </path>
                                                </g>
                                          </g>
                                    </svg> </button> </div>
                  </div>
                  <div class="responsive-logo"> <a class="responsive-logo-dark" href="/" aria-label="Brand"><img
                                    src="{{ assetHash "assets/image/brand-logos/desktop-logo.png" }}" alt="logo"
                                    class="mx-auto"></a> <a class="responsive-logo-light" href="/"
                              aria-label="Brand"><img src="{{ assetHash "assets/image/brand-logos/desktop-dark.png" }}"
                                    alt="logo" class="mx-auto"></a> </div>
                  <div class="header-right">
                        <div class="responsive-headernav">
                              <div class="header-nav-right">
                                    <div class="header-profile hs-dropdown ti-dropdown"
                                          data-hs-dropdown-placement="bottom-right"> <button id="dropdown-profile"
                                                type="button"
                                                class="hs-dropdown-toggle ti-dropdown-toggle gap-2 p-0 flex-shrink-0 h-8 w-8 rounded-full shadow-none focus:ring-gray-400 text-xs dark:focus:ring-white/10">
                                                <img class="inline-block rounded-full ring-2 ring-white dark:ring-white/10"
                                                      src="{{ assetHash "assets/image/users/1.jpg" }}"
                                                      alt="Image Description"> </button>
                                          <div class="hs-dropdown-menu ti-dropdown-menu border-0 w-[20rem]"
                                                aria-labelledby="dropdown-profile">
                                                <div class="ti-dropdown-header !bg-primary flex">
                                                      <div class="ltr:mr-3 rtl:ml-3"> <img
                                                                  class="avatar shadow-none rounded-full !ring-transparent"
                                                                  src="{{ assetHash "assets/image/users/1.jpg" }}"
                                                                  alt="profile-img"> </div>
                                                      <div>
                                                            <p class="ti-dropdown-header-title !text-white">
                                                                  Json Taylor</p>
                                                            <p class="ti-dropdown-header-content !text-white/50">
                                                                  Web Designer</p>
                                                      </div>
                                                </div>
                                                <div class="mt-2 ti-dropdown-divider"> <a href="/profile"
                                                            class="ti-dropdown-item"> <i
                                                                  class="ti ti-user-circle text-lg"></i>
                                                            Profile </a> <a href="signin.html" class="ti-dropdown-item">
                                                            <i class="ti ti-logout  text-lg"></i> Log Out
                                                      </a> </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </nav>
</header>
{{end}}