[runtime]
environment="development"
loglevel="info"
logformat="json"

[server]
host="0.0.0.0"
port=3000

[csrf]
secure="false"
secret="test"

[services]
hrmURL="127.0.0.1:4000"

[hydra]
adminURL="http://127.0.0.1:4445"
tokenURL="http://127.0.0.1:4444/"
publicURL="http://127.0.0.1:4444/"
clientID="hackandsolve"
clientSecret="secret"
oauthURL="http://127.0.0.1:3000/oauth2"

[cookie]
secret="secret"
maxAge="259200"
secure="false"

[authenticator]
duration="24h"
dialtimeout="10s"
